html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: xx-large;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
}

h2 {
  font-size: x-large;
  text-align: left;
}

.show {
  display: flex;
  flex-direction: row;
  padding: 30px;
  gap: 150px;
}

.details {
  padding: 30px;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  gap: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 60%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  padding: 20px;

}

.display-block {
  display: block;
}

.display-none {
  display: none;
}


p, li {
  font-size: x-large;
  font-family: sans-serif;
  color: #6a656e;
}

th {
  font-size: x-large;
  font-family: 'sans-serif';
}


.main {
  display: flex;
  column-gap: 10px;
  text-align: left;
}

.time {
  font-size: large;
  text-align: left;
  margin: 20px;
}

.day {
  margin: 70px;
  border-top: 2px solid black;
  text-align: left;
  font-size: large;
  font-family: 'sans-serif';
  color: gray;
  width: 270px;
  height: 180px;
  max-width: 270px;
  max-height: 180px;
  padding: 15px;
  flex-direction: column;
}

.day:hover {
  background-color: #f2f2f2;
  font-size: x-large;
  color: black;
  border-width: 4px;
}

.meeting {
  display: flex;
  flex-direction: row;
  font-size: x-large;
  font-family: 'sans-serif';
  text-align: left;
  color: #6a656e;
  flex-direction: column;
  padding-left: 20px;
}

.meeting:hover {
  color: #8a3a9c;
}

* {
  box-sizing: border-box;
}
